.body {
  height: 100px;
  background-image: url(./banner.jpg);
  background-repeat: no-repeat;
}

.title {
  display: flex;
  height: 250px;
  margin-top: 100px;
  padding-right: 143px;
  justify-content: right;
  align-items: center;
  color: rgb(154, 159, 255);
  font-family: Gill Sans, sans-serif;
  font-weight: 100;
}

.name {
  position: absolute;
  top: 80px;
  right: 150px;
  width: 500px;
  z-index: -1;
}

.javascript {
  width: 50px;
}

.react {
  width: 65px;
}

.node {
  width: 50px;
}

.mongo {
  width: 58px;
}

.imgcontainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 120px;
}

.imgcontainer img {
  position: relative;
  z-index: 1;
  margin-left: 10px;
  right: 20px;
  top: -100px;
}
